header nav a{
    font-family: Source Sans Pro;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    line-height: 16px;
      
}
header nav div a{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
}
header nav ul li a{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    letter-spacing: 0.2em;
}

header nav ul li:hover {
     border-bottom: 2px solid white;

 }
header nav ul li{
    transition: 700ms;
}
header nav > div {
    margin-left: 150px;
}
header nav{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 40px 350px;
}

header ul{
    display: flex;
    list-style: none;
    gap: 35px;
}


header .burgerMenu {
    display: none;
    
}






header{
    background-image: url('/assets/headerbackground.png');
    background-size:cover;
    background-position: center;
}

.headline{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 180px 0 255px 0;
}
.headline img{
    max-width: 65px;
}
.headline h1{
    color: #FFFFFF;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 64px;
    text-align: center;
}
.headline h2 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 2.4rem;
    line-height: 32px;
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.7);
    opacity: 70%;   
}