main section{
    margin: 85px 120px 100px 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section h2{
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 64px;
    text-align: center;
    color: #464547;
}
main section h3 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 32px;
    text-align: center;
    margin-top: 40px;
    color: #666666;
}
main section p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-top: 40px;
}
main section button {
    display: flex;
    justify-content: center;
    font-family: Oswald;
    font-size: 1.4rem;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border: none;
    background: #55C2D8;
    padding: 5px 15px;
    text-transform: uppercase;
    border-radius: 18px;
    margin-top: 100px;
}

main section div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 84px;
    
}

main section div p {
    max-width: 416px;
    max-height: 107px;
    text-align: left;
}




/* =============================================================================================================== */


main > div{
    background-image: url("/assets/Rectangle\ 5.png"), url("/assets/secondbackground.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 84px 360px;
}
main > div h2{
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
}

main > div button {
    color: white;
    padding: 32px 44px;
    font-size: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #39C2D7;
    border: none;
    border-radius: 100%;
    margin: 53px 0 70px 0;
}
main > div button span{
    margin-left: 5px;
}

main > div h3{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}